<div class="section-block mod-updates-section">
  <h1 class="section-title">Moderator Updates</h1>
  <div class="all-mod-posts">
    <!-- DEV NOTE: hard coded mod short id -->
    <a href="/account/vHN_B6IA7/view">View all mod posts</a>
  </div>
  <!--reward blocks-->
  <% modPosts.forEach(function(post) { %>
    <div class="reward-block mod-post">
      <div class="post">
        <div class="post-head">
          <a href="/account/<%= post.authorShortId %>/view"><div class="user-img" style="background-image: url('<%= post.authorProfileImage %>')"></div></a>
          <div class="user-name">
            <a href="/account/<%= post.authorShortId %>/view"><h3 class="section-title"><%= post.author %></h3></a>
          </div>
        </div>
        <div class="post-body">
          <div class="post-text"><%= post.message %></div>
          <div>
            <p><%= moment(post.messageDate).format('dddd, MMMM Do YYYY, h:mm:ss a') %></p>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>