<%- include partials/header.ejs %>

<div class="account-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="section-block summary">
          <h1><%= userFound.short_id %></h1>
          <h1 class="section-title"><%= userFound.handle %></h1>
          <div class="profile-contents">
            <div class="account-image" style="background-image: url('<%= userFound.profile_image %>')"></div> 
            <div class="user-name">
              <h2><%= userFound.first_name %></h2>
              <h2><%= userFound.last_name %></h2>
            </div>
            <h2 class="position"><%= userFound.bio %></h2>
          </div>
        </div>
        <!-- Display the follow / block options if the user is not the current user or added previously -->
        <% if(currentUser.short_id !== userFound.short_id){ %>
          <div class="account-view-btn">
            <% if(userFollows) { %>
              <form action="/account/<%= currentUser.short_id %>/<%= userFound.short_id %>/Unfollow" method="POST">
                <input type="hidden" name="follower_id" value="<%= currentUser._id %>" class="btn btn-contact">
                <input type="hidden" name="following_id" value="<%= userFound._id %>" class="btn btn-contact">
                <input type="submit" value="Unfollow" class="btn btn-contact">
              </form>
            <% } else { %>
              <form action="/account/<%= currentUser.short_id %>/<%= userFound.short_id %>/follow" method="POST">
                <input type="hidden" name="followerShortId" value="<%= currentUser.short_id %>" class="btn btn-contact">
                <input type="hidden" name="followingShortId" value="<%= userFound.short_id %>" class="btn btn-contact">
                <input type="submit" value="Follow" class="btn btn-contact">
              </form>
            <% } %>
            <!-- DEV NOTE: add block functionality -->
            <!-- <a class="btn btn-contact">Block</a> -->
          </div>
        <% } %>
      </div>
    </div>
    <div class="morePostsOptions">
      <form action="/account/<%= currentUser.short_id %>/view/more" method="POST">
      <div class="morePostsBtn">
        <div>
          <div>
            <p>Display
              <select name="postCounter">
                <option value="25" <%= postCounter == 25 ? 'selected' : '' %> >25</option>
                <option value="50" <%= postCounter == 50 ? 'selected' : '' %> >50</option>
                <option value="75" <%= postCounter == 75 ? 'selected' : '' %> >75</option>
                <option value="100" <%= postCounter == 100 ? 'selected' : '' %> >100</option>
              </select>
              most recent posts</p>
            </div>
        </div>
        
        <div>
          <input type="submit" class="btn btn-reward">
        </div>
      </div>
      </form>
    </div>
    <div class="row profile-posts">
      <% userPosts.forEach(function(post) { %>
        <div class="section-block">
          <div role="tabpanel" class="tab-pane active" id="about">
            <div class="post">
              <div class="post-head">
                <a href="#"><div class="user-img" style="background-image: url('<%= post.authorProfileImage %>')"></div></a>
                <div class="user-name">
                  <a href="#"><h3 class="section-title"><%= post.author %></h3></a>
                </div>
              </div>
              <div class="post-body">
                <div><%= post.message %></div>
                <div>
                  <p><%= moment(post.messageDate).format('dddd, MMMM Do YYYY, h:mm:ss a') %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>