<%- include partials/header %>

<div class="followers-body container">
  <div class="row profile-posts">
    <div class="accountSearch">
      <form action="/account/search" method="POST">
        <div class="container">
          <div class="row">
            <div class="form-group col-lg-offset-4 col-lg-6 offset-md-4 ">
              <input class="form-control" name="short_id" placeholder="Search User by short id" type="text">
            </div>
            <div class="form-group col-lg-2">
              <button class="btn btn-contact">Search User</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <% followed_users.forEach(function(user) { %>
      <div class="section-block container">
        <div role="tabpanel" class="tab-pane active" id="about">
          <div class="post">
            <div class="post-head">
              <a href="/account/<%= user.short_id %>/view"><div class="user-img" style="background-image: url('<%= user.profile_image %>')"></div></a>
              <div class="user-name">
                <a href="/account/<%= user.short_id %>/view"><h3 class="section-title"><%= user.handle %></h3></a>
                <div class="following-account-name">
                  <p class=""><%= user.first_name %></p>
                  <p class=""><%= user.last_name %></p>
                </div>
              </div>
            </div>
            <div class="account-btn">
              <a href="/account/<%= user.short_id %>/view" class="btn btn-contact">View Profile</a>
              <form action="/account/<%= currentUser.short_id %>/<%= user.short_id %>/unfollow" method="POST">
                <input type="hidden" name="followerShortId" value="<%= currentUser.short_id %>" class="btn btn-contact">
                <input type="hidden" name="followingShortId" value="<%= user.short_id %>" class="btn btn-contact">
                <% if(!user.is_moderator) { %>
                  <input type="submit" value="Unfollow" class="btn btn-contact">
                <% } %>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include partials/footer %>