<%- include partials/header.ejs %>


<!--main content-->
<div class="main-content news-feed">
  <div class="container">
    <div class="row">
      <div class="content col-md-8 col-sm-12 col-xs-12">
        <div class="section-block">
          <div role="tabpanel" class="tab-pane active" id="about">
            <form action="/post/create/" method="POST">
              <div class="new-post-section">
                <h1 class="section-title">Speak your mind!</h1>
                <div class="form-group">
                  <input class="form-control postText" type="text" name="message">
                </div>
                <input type="hidden" value="<%= currentUser.handle %>" name="author">
                <input type="hidden" value="<%= currentUser.short_id %>" name="authorShortId">
                <input type="hidden" value="<%= currentUser.profile_image %>" name="authorProfileImage">
                <div class="post-btn">
                  <input type="submit" value="Post" class="btn btn-reward">
                </div>
              </div>
            </form>
          </div>
      </div>
        <div class="morePostsOptions">
          <form action="/dashboard/more" method="POST">
          <div class="morePostsBtn">
            <div>
              <div>
                <p>Display
                  <select name="postCounter">
                    <option value="25" <%= postCounter == 25 ? 'selected' : '' %> >25</option>
                    <option value="50" <%= postCounter == 50 ? 'selected' : '' %> >50</option>
                    <option value="75" <%= postCounter == 75 ? 'selected' : '' %> >75</option>
                    <option value="100" <%= postCounter == 100 ? 'selected' : '' %> >100</option>
                  </select>
                  most recent posts</p>
                </div>
            </div>
            
            <div>
              <input type="submit" class="btn btn-reward">
            </div>
          </div>
          </form>
        </div>
        <div class="posts-section">
          <% posts.forEach(function(post) { %>
          <div class="section-block">
            <div role="tabpanel" class="tab-pane active" id="about">
              <div class="post">
                <div class="post-head">
                  <a href="#"><div class="user-img" style="background-image: url('<%= post.authorProfileImage %>')"></div></a>
                  <div class="user-name">
                    <a href="#"><h3 class="section-title"><%= post.author %></h3></a>
                  </div>
                </div>
                <div class="post-body">
                  <div><%= post.message %></div>
                  <div>
                    <p><%= moment(post.messageDate).format('dddd, MMMM Do YYYY, h:mm:ss a') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <!--/tabs-->
      <!--/main content-->
      <!--sidebar-->
      <div class="content col-md-4 col-sm-12 col-xs-12">
        <div class="section-block summary">
          <h1 class="section-title"><%= currentUser.handle %></h1>
          <div class="profile-contents">
            <h2 class="position"><%= currentUser.bio %></h2>
            <div class="account-image" style="background-image: url('<%= currentUser.profile_image %>')"></div> 
            <!--/social links-->
            <a href="/account/<%= currentUser.short_id %>/view" class="btn btn-contact"><i class="fa fa-envelope"></i>View Profile</a>
          </div>
        </div>
        <!-- underneath account area is located in the partials for now as "friends_activity" -->
      </div>
      <!--/sidebar-->
    </div>
  </div>
</div>

<%- include partials/footer.ejs %>